// basics
$white: #fff;
$black: #000;
$border-grey: #ccc;
// other colors
$main-blue: #24AAE1;
$main-pink: #ED227C;
$dark-blue: #22176D;
$black-blue: #03092F;
$light-grey: #ACBADB;
$dark-grey: #4B5261;
$dark-white: #F0F1FC;
$white-bg: #F4F7F8;
$light-black: rgba(0, 0, 0, 0.7);