body,
html {
    overflow-x: hidden;
}

body {
    font-family: 'Playfair Display';
    font-family: "Samsung Sharp";
}

ul {
    margin: 0;
    padding: 0;
    li {
        list-style: none;
    }
}

a {
    text-decoration: none;
    &:hover,
    &:focus {
        text-decoration: none;
    }
}

.main-header-container {
    position: absolute;
    top: 205px;
    right: auto;
    bottom: auto;
    left: 10%;
    width: auto;
    z-index: 999999;
    @include transition(0.7s all);
    @media(max-width: 1440px) {
        top: 175px;
    }
    @media(max-width: $screen-md-custom) {
        top: 20%;
        left: 8%;
    }
    @media(max-width: $screen-sm-custom) {
        left: 4%;
    }
    @media(max-width: $screen-sm-max) {
        top: 24%;
        left: 3%;
    }
    @media(max-width: $screen-xs-small) {
        top: 29%;
    }
    h1.main-heading {
        width: auto;
        background-image: linear-gradient(-122deg, $main-blue 0%, $main-pink 100%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-size: 198px;
        @include transition(1s all);
        @media (max-width: $screen-sm-custom) {
            font-size: 170px;
        }
        @media (max-width: $screen-sm-max) {
            font-size: 130px;
        }
        @media (max-width: $screen-xs-max) {
            font-size: 60px;
            margin-bottom: 15px;
        }
    }
    &.header-scrolled {
        top: 6px;
        left: 14%;
        h1.main-heading {
            font-size: 30px;
            background-image: linear-gradient(-122deg, $dark-blue 0%, $dark-blue 100%);
        }
        @media(max-width: $screen-md-custom) {
            left: 160px;
        }
        @media(max-width: $screen-sm-custom) {
            left: 90px;
        }
        @media(max-width: $screen-sm-max) {
            left: 70px;
        }
        @media(max-width: $screen-xs-max) {
            left: 60px;
            top: -6px;
        }
    }
}

#projectsSection {
    .holder-content {
        h2 {
            padding-top: 8% !important;
            @media (max-width: $screen-sm-custom) {
                padding-top: 9% !important;
            }
            @media (max-width: $screen-sm-max) {
                padding-top: 12% !important;
            }
            @media (max-width: $screen-xs-max) {
                padding-top: 25% !important;
            }
            // @media (max-width: $screen-xs-medium) {
            //     padding-top: 16% !important;
            // }
            // @media (max-width: $screen-xs-small) {
            //     padding-top: 18% !important;
            // }
        }
    }
}

#aboutSection {
    .holder-content {
        h2 {
            @media (max-width: $screen-xs-max) {
                padding-top: 25% !important;
            }
            // @media (max-width: $screen-xs-medium) {
            //     padding-top: 16% !important;
            // }
            // @media (max-width: $screen-xs-small) {
            //     padding-top: 18% !important;
            // }
        }
    }
}

#servicesSection {
    .holder-content {
        h2 {
            @media(max-width: $screen-md-custom) {
                padding-top: 3% !important;
            }
            @media(max-width: $screen-sm-custom) {
                padding-top: 6% !important;
            }
            @media (max-width: $screen-sm-max) {
                padding-top: 12% !important;
            }
            @media (max-width: $screen-xs-max) {
                padding-top: 25% !important;
            }
            // @media (max-width: $screen-xs-medium) {
            //     padding-top: 16% !important;
            // }
            // @media (max-width: $screen-xs-small) {
            //     padding-top: 18% !important;
            // }
        }
    }
}