body,
html {
    overflow-x: hidden;
}

body {
    font-family: 'Playfair Display';
    font-family: "Samsung Sharp";
}

ul {
    margin: 0;
    padding: 0;
    li {
        list-style: none;
    }
}

a {
    text-decoration: none;
    &:hover,
    &:focus {
        text-decoration: none;
    }
}

.main-header-container {
    position: absolute;
    top: 205px;
    right: auto;
    bottom: auto;
    left: 10%;
    width: auto;
    z-index: 999999;
    @include transition(0.7s all);
    @media(max-width: 1440px) {
        top: 175px;
    }
    @media(max-width: $screen-md-custom) {
        top: 20%;
        left: 8%;
    }
    @media(max-width: $screen-sm-custom) {
        left: 4%;
    }
    @media(max-width: $screen-sm-max) {
        top: 24%;
        left: 3%;
    }
    @media(max-width: $screen-xs-small) {
        top: 29%;
    }
    h1.main-heading {
        width: auto;
        background-image: linear-gradient(-122deg, $main-blue 0%, $main-pink 100%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-size: 198px;
        @include transition(0.8s all);
        @media (max-width: $screen-sm-custom) {
            font-size: 170px;
        }
        @media (max-width: $screen-sm-max) {
            font-size: 130px;
        }
        @media (max-width: $screen-xs-max) {
            font-size: 60px;
            margin-bottom: 15px;
        }
    }
    &.header-scrolled {
        top: 6px;
        left: 14%;
        h1.main-heading {
            font-size: 30px;
            background-image: linear-gradient(-122deg, $dark-blue 0%, $dark-blue 100%);
        }
        @media(max-width: $screen-md-custom) {
            left: 160px;
        }
        @media(max-width: $screen-sm-custom) {
            left: 90px;
        }
        @media(max-width: $screen-sm-max) {
            left: 70px;
        }
        @media(max-width: $screen-xs-max) {
            left: 60px;
            top: -6px;
        }
    }
}

.inner-brand {
    position: absolute;
    top: 20px;
    font-size: 30px;
    background-image: linear-gradient(-122deg, $dark-blue 0%, $dark-blue 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#projectsSection {
    .holder-content {
        h2 {
            padding-top: 8% !important;
            @media (max-width: $screen-sm-custom) {
                padding-top: 9% !important;
            }
            @media (max-width: $screen-sm-max) {
                padding-top: 12% !important;
            }
            @media (max-width: $screen-xs-max) {
                padding-top: 25% !important;
            }
        }
    }
}

#aboutSection {
    .holder-content {
        h2 {
            @media (max-width: $screen-xs-max) {
                padding-top: 25% !important;
            }
        }
    }
}

#servicesSection {
    .holder-content {
        h2 {
            @media(max-width: $screen-md-custom) {
                padding-top: 3% !important;
            }
            @media(max-width: $screen-sm-custom) {
                padding-top: 6% !important;
            }
            @media (max-width: $screen-sm-max) {
                padding-top: 12% !important;
            }
            @media (max-width: $screen-xs-max) {
                padding-top: 25% !important;
            }
        }
    }
}

.wave1-visible,
.wave2-visible,
.wave3-visible {
    position: absolute;
    @include transition(0.5s all);
    opacity: 1;
    @media (max-width: $screen-sm-custom) {
        display: none;
    }
}

.wave1-hidden,
.wave2-hidden,
.wave3-hidden {
    position: absolute;
    @include transition(0.5s all);
    opacity: 0;
}

.wave1 {
    background: url('../images/wave1.svg') no-repeat;
    background-size: cover;
    background-position: bottom;
    width: 100%;
    height: 110px;
    position: absolute;
    bottom: 0;
    z-index: 9;
    @include transition(0.5s all);
    opacity: 1;
}

.wave1-move {
    background-size: contain;
    height: 120px;
    @include transition(0.5s all);
    background: url('../images/wave1.svg') no-repeat;
    background-position: 0 55px;
    width: 100%;
    position: absolute;
    bottom: 0;
    z-index: 9;
    opacity: 1;
}

.wave2 {
    background: url('../images/wave2.svg') no-repeat;
    background-size: contain;
    background-position: right;
    width: 100%;
    height: 120px;
    position: absolute;
    bottom: 0;
    z-index: 10;
    @include transition(0.5s all);
    opacity: 1;
}

.wave2-move {
    background: url('../images/wave2.svg') no-repeat;
    position: absolute;
    width: 100%;
    background-position: 35% 35px;
    position: absolute;
    background-size: contain;
    bottom: 0;
    height: 125px;
    z-index: 0;
    @include transition(0.5s all);
    opacity: 1;
}

.wave3 {
    background: url('../images/wave3.svg') no-repeat;
    background-size: contain;
    background-position: center;
    width: 100%;
    height: 200px;
    position: absolute;
    bottom: 0;
    @include transition(0.5s all);
    opacity: 1;
}

.wave3-move {
    background: url('../images/wave3.svg') no-repeat;
    width: 100%;
    position: absolute;
    bottom: 0;
    background-size: contain;
    background-position: 135% 35px;
    height: 110px;
    @include transition(0.5s all);
    opacity: 1;
}