<!-- about section -->
<section id="aboutSection" class="about-section section">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="holder full-height-holder">
                    <div class="holder-content">
                        <h2>Who are we?</h2>
                        <h4>Your digital partner</h4>
                        <div class="about-blocks">
                            <div class="row">
                                <div class="col-xs-12 col-sm-6 block-view">
                                    <img src=" images/Pro.svg " alt="">
                                    <h5>we are professional</h5>
                                    <p>We bring a crafted and inspired approach to every project we work on and carry about passion for digital performance and creative solutions.</p>
                                </div>
                                <div class="col-xs-12 col-sm-6 block-view">
                                    <img src=" images/Pro.svg " alt="">
                                    <h5>we do big things!</h5>
                                    <p>We bring a crafted and inspired approach to every project we work on and carry about passion for digital performance and creative solutions.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>