<!-- footer -->
<footer id="contant">
    <div class="container">
        <div class="footer-content">
            <h4>Get in touch</h4>
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-4 contact-box">
                    <div class="contact-img">
                        <img src="images/phone.svg" class="img-responsive">
                    </div>
                    <div class="contact-text">
                        <h6>Call us</h6>
                        <a href="tel:+966 53 135 9995">+966 53 135 9995</a>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4 contact-box">
                    <div class="contact-img">
                        <img src="images/messages.svg" class="img-responsive">
                    </div>
                    <div class="contact-text">
                        <h6>Drop us a mail</h6>
                        <a href="mailto:law_2030@hotmail.com">law_2030@hotmail.com</a>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4 contact-box">
                    <div class="contact-img">
                        <img src="images/pin.svg" class="img-responsive">
                    </div>
                    <div class="contact-text">
                        <h6>Visit us</h6>
                        <a href="https://www.google.com.eg/maps/place/Soleek+Lab/@29.9743466,31.2798731,15z/data=!4m5!3m4!1s0x0:0x1860e97079d89179!8m2!3d29.9743466!4d31.2798731" target=_blank>In Maadi</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>