<!-- main section -->
<section id="mainSection" class="main-section section">
    <div class="main-header-container header-scrolled">
        <div class="row">
            <div class="col-xs-12">
                <a href="index.html">
                    <h1 class="main-heading container">Soleek lab</h1>
                </a>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="main-holder ">

                    <div class="holder-content" data-aos="fade-right" data-aos-duration="1000">
                        <h4>hello<img class="hand-icon" src="images/Hand.svg" alt="wave-emoji"></h4>
                        <p>we create digital solutions</p>
                        <h6>your digital partner</h6>
                        <span>Scroll down for more awesomeness<img class="scroll-icon" src="images/scroll.svg" alt="hand-down-emoji"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>