<!-- header -->
<header class="main-navbar">
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navCollapse" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="index.html">
                    <img src="../images/Logo.svg" class="img-responsive lazy" alt="Logo">
                </a>
            </div>

            <div class="collapse navbar-collapse navbar-right" id="navCollapse">
                <ul id="menu" class="nav navbar-nav">
                    <li data-menuanchor="hi" class="active"><a href="#hi">hi</a></li>
                    <li data-menuanchor="about"><a href="#about">about</a></li>
                    <li data-menuanchor="services"><a href="#services">services</a></li>
                    <li data-menuanchor="projects"><a href="#projects">projects</a></li>
                    <button id="getInTouch" class="btn btn-default"><a href="#projects">Get in touch</a></button>
                </ul>
            </div>
        </div>
    </nav>
</header>