<!-- projects section -->
<section id="projectsSection" class="projects-section section">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="holder">
                    <div class="holder-content">
                        <h2>What we have done <img class="flash-icon" src="images/flash.svg"></h2>
                        <h4>crafted and inspired approach to every project we work on</h4>
                        <div class="projects-blocks">
                            <div class="row">
                                <div class="col-xs-12 col-sm-6 left-col">
                                    <div class="row">
                                        <div class="col-xs-12">
                                            <a href="#">
                                                <div class="block">
                                                    <h5>Project one</h5>
                                                    <p>Sub-Text</p>
                                                </div>
                                            </a>
                                            <a href="#">
                                                <div class="block">
                                                    <h5>Project three</h5>
                                                    <p>Sub-Text</p>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-6 right-col">
                                    <div class="row">
                                        <div class="col-xs-12">
                                            <a href="#">
                                                <div class="block">
                                                    <h5>Project two</h5>
                                                    <p>Sub-Text</p>
                                                </div>
                                            </a>
                                            <a href="#">
                                                <div class="block">
                                                    <h5>Project four</h5>
                                                    <p>Sub-Text</p>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <h5>And there’s always more!</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- footer -->
    <footer id="contact">
        <div class="container">
            <div class="footer-content">
                <h4>Get in touch</h4>
                <div class="row">
                    <div class="col-xs-12 col-sm-6 col-md-4 contact-box">
                        <div class="contact-img">
                            <img src="images/phone.svg">
                        </div>
                        <div class="contact-text">
                            <h6>Call us</h6>
                            <a href="tel:+966 53 135 9995">+966 53 135 9995</a>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-4 contact-box">
                        <div class="contact-img">
                            <img src="images/messages.svg">
                        </div>
                        <div class="contact-text">
                            <h6>Drop us a mail</h6>
                            <a href="mailto:law_2030@hotmail.com">law_2030@hotmail.com</a>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-4 contact-box">
                        <div class="contact-img">
                            <img src="images/pin.svg">
                        </div>
                        <div class="contact-text">
                            <h6>Visit us</h6>
                            <a href="https://www.google.com.eg/maps/place/Soleek+Lab/@29.9743466,31.2798731,15z/data=!4m5!3m4!1s0x0:0x1860e97079d89179!8m2!3d29.9743466!4d31.2798731" target=_blank>In Maadi</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</section>