<!-- services section -->
<section id="servicesSection" class="services-section section">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="holder">
                    <div class="holder-content">
                        <h2>What we do?</h2>
                        <h4>Let’s talk business <img class="sunglasses-icon" src="images/sunglasses.svg"></h4>
                        <div class="services-blocks">
                            <div class="row">
                                <div class="col-xs-12 col-sm-4 col-md-4">
                                    <div class="block">
                                        <img src="images/Labtop.svg">
                                        <h5>web & mobile development</h5>
                                        <p>Build Websites and Mobile Applications that people actually use and remember it and upgrade your brand.</p>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-4 col-md-4">
                                    <div class="block">
                                        <img src="images/Cart.svg">
                                        <h5>e-Commerce platform</h5>
                                        <p>We offer the lowest price of E-Commerce website in the Egyptian market with very high quality and customize designs.</p>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-4 col-md-4">
                                    <div class="block">
                                        <img src="images/Heart.svg">
                                        <h5>start-up supporters</h5>
                                        <p>We are absolutely passionate about startups and entrepreneurship that’s why we are offering special discount and help to build the right product for them.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>