.about-section {
    margin-top: -60px;
    @media(max-width: $screen-sm-custom) {
        margin-top: 0;
    }
    @include transition(0.6s all);
    .holder {
        .holder-content {
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: flex-start;
            flex-direction: column;
            h2 {
                font-size: 41px;
                font-weight: bold;
                color: $black-blue;
                letter-spacing: 0;
                margin-top: 0;
                margin-bottom: 5px;
            }
            h4 {
                font-family: 'Playfair Display';
                font-weight: bold;
                font-size: 30px;
                color: $dark-grey;
                letter-spacing: 0;
                margin: 0;
            }
        }
        .about-blocks {
            width: 100%;
            display: flex;
            justify-content: flex-start;
            align-items: flex-start;
            flex-direction: column;
            padding-top: 65px;
            .block-view {
                @media (max-width: $screen-xs-max) {
                    margin-bottom: 30px;
                }
            }
            h5 {
                font-size: 25px;
                font-weight: bold;
                color: $dark-blue;
                letter-spacing: 0;
                margin-top: 20px;
                text-transform: capitalize;
            }
            p {
                font-family: 'Playfair Display';
                font-weight: bold;
                font-size: 18px;
                color: $dark-grey;
                letter-spacing: 0;
                line-height: 26px;
            }
        }
    }
}